<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product</title> <!-- note that if I had more time, I would be dynamically injecting Product-Detail in the title for the ... surprise! the product-detail view -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.png"/>
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/themify/themify-icons.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/elegant-font/html-css/style.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/animate/animate.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/slick/slick.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/noui/nouislider.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <!--===============================================================================================-->
  </head>

  <body class="animsition">
    <% include ../views/partials/header %>
    <%- body %>
    <% include ../views/partials/footer %>
  </body>

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
  </div>

  <!-- Container Selection -->
  <div id="dropDownSelect1"></div>
  <div id="dropDownSelect2"></div>
  
</html>